In [149]:
# Task 1: Create and Save 3 DataFrames as CSV
import numpy as np
import pandas as pd
# -------------------------
# Create Project DataFrame
# -------------------------
# Defining project data  as a dictionary
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Creating the project DataFrame from dictionary
project_df = pd.DataFrame(project_data)

# Saving the project DataFrame as CSV file
project_df.to_csv('project.csv', index=False)

print(project_df)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [151]:
# -------------------------
# Create Employee DataFrame
# -------------------------
# Defining employee data as a dictionary
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

# Creating the employee DataFrame from the dictionary
employee_df = pd.DataFrame(employee_data)

#Saving the employee DataFrame as CSV file
employee_df.to_csv('employee.csv', index=False)

print(employee_df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [153]:
# -----------------------------
# Create Seniority Level DataFrame
# -----------------------------
# Defining seniority level data as dictionary
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

# Creating the Seniority DataFrame
seniority_df = pd.DataFrame(seniority_data)

# Saving the Seniority DataFrame as CSV file
seniority_df.to_csv('seniority.csv', index=False)

print(seniority_df)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [155]:
# Task 2: Fill Missing Project Cost Values Using Running Average (with a for loop)

import pandas as pd
import numpy as np

# Read the project data from the saved CSV
project_df = pd.read_csv('project.csv')

# Initialize variables to track the running total and count

running_sum = 0
count = 0

# Using For Loop replace the missing values by running average
for i in range(len(project_df)):
    if pd.isna(project_df.loc[i,'Cost']):  # If the cost id missing
        if count > 0:
            running_avg = running_sum/count
        else:
            running_avg=0
        # Fill the  missing cost with the running average
        project_df.loc[i,'Cost'] = running_avg
    else:
        # If cost is present, update the running total and count
        running_sum+=project_df.loc[i,'Cost']
        count +=1

# Saving the updated project DataFrame as CSV file
project_df.to_csv('project.csv', index=False)

# Show the cleaned Project DataFrame
print("Updated Project DataFrame with filled cost values:\n", project_df)

Updated Project DataFrame with filled cost values:
       ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [157]:
# Task 3: Split Name into First Name and Last Name
import pandas as pd
# Load the employee data
employee_df = pd.read_csv('employee.csv')

# Split the 'Name' column into 'First Name' and 'Last Name'
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# Drop the original 'Name' column
employee_df = employee_df.drop('Name', axis=1)

# Rearrange columns (optional, just for better readability)
employee_df = employee_df[['ID', 'First Name', 'Last Name', 'Gender', 'City', 'Age']]

#Saving the employee DataFrame as CSV file
employee_df.to_csv('employee.csv', index=False)

# Show the updated Employee DataFrame
print("Updated Employee DataFrame:\n", employee_df)

Updated Employee DataFrame:
      ID First Name  Last Name Gender     City  Age
0  A001       John      Alter      M    Paris   25
1  A002      Alice  Luxumberg      F   London   27
2  A003        Tom  Sabestine      M   Berlin   29
3  A004       Nina      Adgra      F  Newyork   31
4  A005        Amy      Johny      F   Madrid   30

In [159]:
# Task 4: Merging in a Single Step
import pandas as pd

# Load all 3 CSV files
employee_df = pd.read_csv("Employee.csv")
seniority_df = pd.read_csv("Seniority.csv")
project_df = pd.read_csv("Project.csv")

# Merge Employee dataframe,Seniority dataframe and Project dataframe on 'ID'
final_df = pd.merge(pd.merge(employee_df,seniority_df,on='ID'),project_df, on='ID')

# Save the final merged DataFrame to a new CSV
final_df.to_csv("Final.csv", index=False)

#Display the final merged DataFrame
print("Final Merged DataFrame:\n", final_df)

Final Merged DataFrame:
       ID First Name  Last Name Gender     City  Age  Designation Level  \
0   A001       John      Alter      M    Paris   25                  2
1   A001       John      Alter      M    Paris   25                  2
2   A001       John      Alter      M    Paris   25                  2
3   A002      Alice  Luxumberg      F   London   27                  2
4   A002      Alice  Luxumberg      F   London   27                  2
5   A003        Tom  Sabestine      M   Berlin   29                  3
6   A003        Tom  Sabestine      M   Berlin   29                  3
7   A003        Tom  Sabestine      M   Berlin   29                  3
8   A004       Nina      Adgra      F  Newyork   31                  2
9   A004       Nina      Adgra      F  Newyork   31                  2
10  A004       Nina      Adgra      F  Newyork   31                  2
11  A005        Amy      Johny      F   Madrid   30                  3
12  A005        Amy      Johny      F   Madrid   30                  3
13  A005        Amy      Johny      F   Madrid   30                  3

       Project          Cost    Status
0    Project 1  1.002000e+06  Finished
1    Project 9  2.061714e+06   Ongoing
2   Project 11  2.000000e+06    Failed
3    Project 2  2.000000e+06   Ongoing
4    Project 6  6.800000e+05    Failed
5    Project 3  4.500000e+06  Finished
6    Project 8  3.500000e+05    Failed
7   Project 10  3.000000e+05  Finished
8    Project 4  5.500000e+06   Ongoing
9   Project 12  1.000000e+06   Ongoing
10  Project 13  3.000000e+06  Finished
11   Project 5  3.250500e+06  Finished
12   Project 7  4.000000e+05  Finished
13  Project 14  2.000000e+05  Finished

In [161]:
# Task 5:  Add a Bonus column to final_df
import numpy as np
import pandas as pd

# Load the Final.csv file
final_df = pd.read_csv("Final.csv")

# Add the Bonus column
# If Status is 'Finished', Bonus = 5% of Cost. Otherwise, Bonus = 0
final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', final_df['Cost'] * 0.05, 0)

# Save and Show the updated DataFrame
final_df.to_csv("Final.csv", index=False)

print("Final DataFrame with Bonus column:\n", final_df)

Final DataFrame with Bonus column:
       ID First Name  Last Name Gender     City  Age  Designation Level  \
0   A001       John      Alter      M    Paris   25                  2
1   A001       John      Alter      M    Paris   25                  2
2   A001       John      Alter      M    Paris   25                  2
3   A002      Alice  Luxumberg      F   London   27                  2
4   A002      Alice  Luxumberg      F   London   27                  2
5   A003        Tom  Sabestine      M   Berlin   29                  3
6   A003        Tom  Sabestine      M   Berlin   29                  3
7   A003        Tom  Sabestine      M   Berlin   29                  3
8   A004       Nina      Adgra      F  Newyork   31                  2
9   A004       Nina      Adgra      F  Newyork   31                  2
10  A004       Nina      Adgra      F  Newyork   31                  2
11  A005        Amy      Johny      F   Madrid   30                  3
12  A005        Amy      Johny      F   Madrid   30                  3
13  A005        Amy      Johny      F   Madrid   30                  3

       Project          Cost    Status     Bonus
0    Project 1  1.002000e+06  Finished   50100.0
1    Project 9  2.061714e+06   Ongoing       0.0
2   Project 11  2.000000e+06    Failed       0.0
3    Project 2  2.000000e+06   Ongoing       0.0
4    Project 6  6.800000e+05    Failed       0.0
5    Project 3  4.500000e+06  Finished  225000.0
6    Project 8  3.500000e+05    Failed       0.0
7   Project 10  3.000000e+05  Finished   15000.0
8    Project 4  5.500000e+06   Ongoing       0.0
9   Project 12  1.000000e+06   Ongoing       0.0
10  Project 13  3.000000e+06  Finished  150000.0
11   Project 5  3.250500e+06  Finished  162525.0
12   Project 7  4.000000e+05  Finished   20000.0
13  Project 14  2.000000e+05  Finished   10000.0

In [163]:
# Task 6: Demote the designation level by 1, whose projects have status “fail”
import numpy as np
import pandas as pd

# Load the Final.csv file
final_df = pd.read_csv("Final.csv")

# Demote the designation level by 1 if Project Status is "Fail"
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1

# Remove employees with Designation Level above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save the updated DataFrame
final_df.to_csv("Final.csv", index=False)

print(final_df)

      ID First Name  Last Name Gender     City  Age  Designation Level  \
0   A001       John      Alter      M    Paris   25                  2
1   A001       John      Alter      M    Paris   25                  2
2   A001       John      Alter      M    Paris   25                  3
3   A002      Alice  Luxumberg      F   London   27                  2
4   A002      Alice  Luxumberg      F   London   27                  3
5   A003        Tom  Sabestine      M   Berlin   29                  3
6   A003        Tom  Sabestine      M   Berlin   29                  4
7   A003        Tom  Sabestine      M   Berlin   29                  3
8   A004       Nina      Adgra      F  Newyork   31                  2
9   A004       Nina      Adgra      F  Newyork   31                  2
10  A004       Nina      Adgra      F  Newyork   31                  2
11  A005        Amy      Johny      F   Madrid   30                  3
12  A005        Amy      Johny      F   Madrid   30                  3
13  A005        Amy      Johny      F   Madrid   30                  3

       Project          Cost    Status     Bonus
0    Project 1  1.002000e+06  Finished   50100.0
1    Project 9  2.061714e+06   Ongoing       0.0
2   Project 11  2.000000e+06    Failed       0.0
3    Project 2  2.000000e+06   Ongoing       0.0
4    Project 6  6.800000e+05    Failed       0.0
5    Project 3  4.500000e+06  Finished  225000.0
6    Project 8  3.500000e+05    Failed       0.0
7   Project 10  3.000000e+05  Finished   15000.0
8    Project 4  5.500000e+06   Ongoing       0.0
9   Project 12  1.000000e+06   Ongoing       0.0
10  Project 13  3.000000e+06  Finished  150000.0
11   Project 5  3.250500e+06  Finished  162525.0
12   Project 7  4.000000e+05  Finished   20000.0
13  Project 14  2.000000e+05  Finished   10000.0

In [165]:
# Task 7: Add Mr./Mrs. to First Name and drop gender
import numpy as np
import pandas as pd

# Load the Final.csv file
final_df = pd.read_csv("Final.csv")

# Apply title based on gender
final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

# Drop the Gender column
final_df.drop(columns=['Gender'], inplace=True)

# Save the updated dataframe
final_df.to_csv('Final.csv', index=False)

# Display Updated dataframe
print(final_df)

      ID  First Name  Last Name     City  Age  Designation Level     Project  \
0   A001    Mr. John      Alter    Paris   25                  2   Project 1
1   A001    Mr. John      Alter    Paris   25                  2   Project 9
2   A001    Mr. John      Alter    Paris   25                  3  Project 11
3   A002  Mrs. Alice  Luxumberg   London   27                  2   Project 2
4   A002  Mrs. Alice  Luxumberg   London   27                  3   Project 6
5   A003     Mr. Tom  Sabestine   Berlin   29                  3   Project 3
6   A003     Mr. Tom  Sabestine   Berlin   29                  4   Project 8
7   A003     Mr. Tom  Sabestine   Berlin   29                  3  Project 10
8   A004   Mrs. Nina      Adgra  Newyork   31                  2   Project 4
9   A004   Mrs. Nina      Adgra  Newyork   31                  2  Project 12
10  A004   Mrs. Nina      Adgra  Newyork   31                  2  Project 13
11  A005    Mrs. Amy      Johny   Madrid   30                  3   Project 5
12  A005    Mrs. Amy      Johny   Madrid   30                  3   Project 7
13  A005    Mrs. Amy      Johny   Madrid   30                  3  Project 14

            Cost    Status     Bonus
0   1.002000e+06  Finished   50100.0
1   2.061714e+06   Ongoing       0.0
2   2.000000e+06    Failed       0.0
3   2.000000e+06   Ongoing       0.0
4   6.800000e+05    Failed       0.0
5   4.500000e+06  Finished  225000.0
6   3.500000e+05    Failed       0.0
7   3.000000e+05  Finished   15000.0
8   5.500000e+06   Ongoing       0.0
9   1.000000e+06   Ongoing       0.0
10  3.000000e+06  Finished  150000.0
11  3.250500e+06  Finished  162525.0
12  4.000000e+05  Finished   20000.0
13  2.000000e+05  Finished   10000.0

In [167]:
# Task 8:Promote Employees Over 29
import numpy as np
import pandas as pd

# Load the Final.csv file
final_df = pd.read_csv("Final.csv")

# Promote Employess if age>29
final_df.loc[final_df['Age'] > 29, 'Designation Level'] -= 1

# Save the updated DataFrame
final_df.to_csv('Final.csv', index=False)

# Display records after promotion
print("\nAfter Promotion:\n", final_df)

After Promotion:
       ID  First Name  Last Name     City  Age  Designation Level     Project  \
0   A001    Mr. John      Alter    Paris   25                  2   Project 1
1   A001    Mr. John      Alter    Paris   25                  2   Project 9
2   A001    Mr. John      Alter    Paris   25                  3  Project 11
3   A002  Mrs. Alice  Luxumberg   London   27                  2   Project 2
4   A002  Mrs. Alice  Luxumberg   London   27                  3   Project 6
5   A003     Mr. Tom  Sabestine   Berlin   29                  3   Project 3
6   A003     Mr. Tom  Sabestine   Berlin   29                  4   Project 8
7   A003     Mr. Tom  Sabestine   Berlin   29                  3  Project 10
8   A004   Mrs. Nina      Adgra  Newyork   31                  1   Project 4
9   A004   Mrs. Nina      Adgra  Newyork   31                  1  Project 12
10  A004   Mrs. Nina      Adgra  Newyork   31                  1  Project 13
11  A005    Mrs. Amy      Johny   Madrid   30                  2   Project 5
12  A005    Mrs. Amy      Johny   Madrid   30                  2   Project 7
13  A005    Mrs. Amy      Johny   Madrid   30                  2  Project 14

            Cost    Status     Bonus
0   1.002000e+06  Finished   50100.0
1   2.061714e+06   Ongoing       0.0
2   2.000000e+06    Failed       0.0
3   2.000000e+06   Ongoing       0.0
4   6.800000e+05    Failed       0.0
5   4.500000e+06  Finished  225000.0
6   3.500000e+05    Failed       0.0
7   3.000000e+05  Finished   15000.0
8   5.500000e+06   Ongoing       0.0
9   1.000000e+06   Ongoing       0.0
10  3.000000e+06  Finished  150000.0
11  3.250500e+06  Finished  162525.0
12  4.000000e+05  Finished   20000.0
13  2.000000e+05  Finished   10000.0

In [169]:
# Task 9:Total Project Cost per Employee
import numpy as np
import pandas as pd

# Load the Final.csv file
final_df = pd.read_csv("Final.csv")

# Group by employee ID and First Name, and sum the Project Cost
total_cost_df = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename the Cost column to 'Total Cost'
total_cost_df.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save and show the result to a new CSV file
total_cost_df.to_csv('TotalProjCost.csv', index=False)

print("Total Project Cost per Employee:\n", total_cost_df)

Total Project Cost per Employee:
      ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

In [147]:
#Task 10: Filter Employees Where City Contains the Letter 'o'
import pandas as pd

# Load the final dataset
final_df = pd.read_csv("Final.csv")

# Filter rows where 'City' contains the letter 'o' (case-insensitive)
filtered_df = final_df[final_df['City'].str.contains('o', case=False, na=False)]

# Display the filtered result
print("Employees from cities containing the letter 'o':\n", filtered_df)

Employees from cities containing the letter 'o':
       ID  First Name  Last Name     City  Age  Designation Level     Project  \
3   A002  Mrs. Alice  Luxumberg   London   27                  2   Project 2
4   A002  Mrs. Alice  Luxumberg   London   27                  3   Project 6
8   A004   Mrs. Nina      Adgra  Newyork   31                  1   Project 4
9   A004   Mrs. Nina      Adgra  Newyork   31                  1  Project 12
10  A004   Mrs. Nina      Adgra  Newyork   31                  1  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0